# Ignore PyCharm project files
.idea/

# Ignore compiled Python files
__pycache__/

# Ignore the "examples" directory for now
examples/

# Ignore pytest cache files
.pytest_cache/

# Ignore ruff cache files
.ruff_cache/

# Ignore code coverage related files
/.coverage
/htmlcov/
coverage.xml
